HOST=0.0.0.0
PORT=8000
DATABASE_URL=postgresql+asyncpg://charoledb:charolepassword@db:5432/charoledb

DB_USER=charoledb
DB_PASSWORD=charolepassword
DB_NAME=charoledb


# Set to true to drop and recreate all tables on startup (dev only)
FORCE_DB_RECREATE=true

OPENROUTER_API_KEY = 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
ANTHROPIC_API_KEY=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
OPENAI_API_KEY=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
GOOGLE_API_KEY= AIzaSyA5fWgNbQtGzxRr3Ao7DuvMi0NJ2RTbfY0
NVIDIA_API_KEY  = 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
TAVILY_API_KEY=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